<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">*客户名称（全称）</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="custermerName" name="custermerName" required
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">*客户类型</label>
                                <div class="col-sm-8">
                                    <select class="form-control chosen-select" data-placeholder="--选择客户类型--"
                                            id="custermerType"
                                            name="custermerType" required tabindex="2">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">纳税人识别号</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="taxpayerIdNumbers" name="taxpayerIdNumbers"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">统一社会信用代码</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="socialCreditCode" name="socialCreditCode"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">地址</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="address" name="address" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">客户电话</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="custermerTel" name="custermerTel" required
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">电子邮箱</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="email" name="email" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">传真</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="fax" name="fax" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">开户行</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="bank" name="bank" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">开户行账号</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="bankAccount" name="bankAccount" type="text">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-3 control-label">删除标记</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="isDeleted" name="isDeleted" type="hidden">
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="col-sm-3 control-label">创建者</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="createUserId" name="createUserId" type="hidden">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">备注信息</label>
                                <div class="col-sm-8">
                                    <textarea id="remarks" name="remarks" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/factory/custermerInformation/add.js">
	</script>
</body>
</html>
