<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <div class="form-inline">
                            <dic class="form-group">
                                <select data-placeholder="--客户类型--"
                                        name="custernameType" id="custernameType"
                                        class="chosen-select form-control col-xs-3" tabindex="2">
                                </select>
                            </dic>
                            <div
                                    class="form-group">
                                <input id="custermerName" type="text" class="form-control"
                                       placeholder="合同名称">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success" onclick="reLoad()">查询</button>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-success" onclick="reset()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_exportFile_h = 'hidden';
        var s_person_h = 'hidden';
        var s_details_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="factory:custermerInformation:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="factory:custermerInformation:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="factory:custermerInformation:person">
    <script type="text/javascript">
        var s_person_h = '';
    </script>
</div>
<div shiro:hasPermission="factory:custermerInformation:exportFile">
    <script type="text/javascript">
        var s_exportFile_h = '';
    </script>
</div>
<div shiro:hasPermission="factory:custermerInformation:details">
    <script type="text/javascript">
        var s_details_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/factory/saleManage/custermerList.js"></script>
</body>
</html>