<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="productCraftId" name="productCraftId" th:value="${productCraft?.productCraftId}"
                               type="hidden" readonly>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择产品</label>
                            <div class="col-sm-8">
                                <input id="oldProductId" th:value="${productCraft?.productId}" class="form-control"
                                       type="hidden">
                                <select id="product" name="productId" class="form-control" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">关联工艺</label>
                            <div class="col-sm-8">
                                <input id="oldCraftId" name="craftId" th:value="${productCraft?.craftId}"
                                       class="form-control" type="hidden">
                                <select id="craft" name="craftId" class="chosen-select" disabled>
                                </select>
                            </div>
                        </div>
                        <div id="processList"class="form-group">

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述</label>
                            <div class="col-sm-8">
								<textarea style="height: 150px" id="description" name="description" class="form-control"
                                          wrap="hard" th:text="${productCraft?.description}"
                                          row="100" cols="150" readonly></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/factory/productCraft/edit.js">
</script>
</body>
</html>
