<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="factory:craftDefinition:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="factory:craftDefinition:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<div class="form-inline">
								<div class="form-group">
									<input id="craftCode" type="text" class="form-control"style="padding-right: 10px"
										   placeholder="工艺编号">
								</div>
								<div class="form-group">
									<input id="craftName" type="text" class="form-control"style="padding-right: 10px"
										   placeholder="工艺名称">
								</div>
								<div class="form-group">
									<input id="processName" type="text" class="form-control"style="padding-right: 10px"
										   placeholder="工序名称">
								</div>
								<div class="form-group">
									<select class="chosen-select form-control"id="state" name="state"style="padding-right: 10px">
										<option value="" disabled>选择状态</option>
										<option value="1" selected>启用</option>
										<option value="0">停用</option>
									</select>
								</div>
								<div class="form-group">
									<button class="btn btn-success" onclick="reLoad()">查询</button>
									<button class="btn btn-success" onclick="reset()">重置</button>
								</div>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="factory:craftDefinition:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="factory:craftDefinition:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="factory:craftDefinition:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/factory/craftDefinition/craftDefinition.js"></script>
</body>
</html>