<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control"
                               placeholder="">
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include :: footer"></div>
<script>
    $(function(){
        load();
    })
    function  load() {
        $("#exampleTable").bootstrapTable({
            method : 'get', // 服务器数据的请求方式 get or post
            url : "/factory/processDefinition" + "/list", // 服务器数据的加载地址
            iconSize : 'outline',
            toolbar : '#exampleToolbar',
            striped : true, // 设置为true会有隔行变色效果
            dataType : "json", // 服务器返回的数据类型
            pagination : true, // 设置为true会在底部显示分页条
            singleSelect : false, // 设置为true将禁止多选
            pageSize : 10, // 如果设置了分页，每页数据条数
            pageNumber : 1, // 如果设置了分布，首页页码
            showColumns : false, // 是否显示内容下拉框（选择显示的列）
            sidePagination : "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
            queryParams : function(params) {
                return {
                    //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                    limit: params.limit,
                    offset:params.offset,
                    state:1
                    // name:$('#searchName').val(),
                    // username:$('#searchName').val()
                };
            },
            columns : [
                {
                    checkbox : true
                },
                {
                    field:"processCode",
                    title:"工序编号"
                },
                {
                    field:"processName",
                    title:"工序名称"
                },
                {
                    field:"state",
                    title:"工序状态",
                    formatter:function (value, row, index) {
                        return '已启用'
                    }
                },
                {
                    field:"description",
                    title:"描述"
                },
                {
                    title : '操作',
                    field : 'id',
                    align : 'center',
                    formatter: function (value, row, index) {
                        var e = "<a class='btn btn-primary btn-sm' href='#' mce_href='#' title='选择' onclick='select("
                            + JSON.stringify(row)
                            + ")'><i class='fa fa-edit'></i></a> ";
                        return e;
                    }
                } ]
        })
    }
    function select(row){
        let layerParent=top.layerParent.pop();
        layerParent.loadProcess(row);
        var index = top.layer.getFrameIndex(window.name); // 获取窗口索引
        top.layer.close(index);
    }
</script>
</body>
</html>