<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="factory:supplierInformation:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>新增供应商
							</button>
							<button shiro:hasPermission="factory:supplierInformation:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
                            <button shiro:hasPermission="factory:supplierInformation:exportFile" type="button" class="btn  btn-info"
                                    onclick="exportFile()">
                                <i class="glyphicon glyphicon-file" aria-hidden="true"></i>导出
                            </button>
						</div>
						<div class="form-inline">
							<div class="columns pull-right" style="margin-left: 10px">
								<button type="button" class="btn btn-success" onclick="reLoad()">查询</button>
								<button type="button" class="btn btn-success" onclick="reset()">重置</button>
							</div>
							<div class="columns pull-right">
								<input id="custermerName" type="text" class="form-control" style="margin-left: 10px"
									   placeholder="供应商名称">
							</div>
							<div class="columns pull-right">
								<select
										name="custernameType" id="custernameType"
										class="form-control col-md-2" style="width: 100px;margin-left: 10px">
								</select>
							</div>
						</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_exportFile_h = 'hidden';
                var s_person_h = 'hidden';
                var s_details_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="factory:supplierInformation:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="factory:supplierInformation:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
    <div shiro:hasPermission="factory:supplierInformation:person">
        <script type="text/javascript">
            var s_person_h = '';
        </script>
    </div>
    <div shiro:hasPermission="factory:supplierInformation:exportFile">
        <script type="text/javascript">
            var s_exportFile_h = '';
        </script>
    </div>
	<div shiro:hasPermission="factory:supplierInformation:details">
		<script type="text/javascript">
            var s_details_h = '';
		</script>
	</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/factory/supplierInformation/supplierInformation.js"></script>
</body>
</html>