<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.factory.productManage.dao.ProcessRelationshipDao">

	<select id="get" resultType="com.bootdo.factory.productManage.domain.ProcessRelationshipDO">
		select `id`,`process_inspection_id`,`inspection_items_id` ,`is_deleted`,`create_user_id`,`create_date` from process_relationship where id = #{value}
	</select>

	<select id="list"  resultType="com.bootdo.factory.productManage.domain.ProcessRelationshipDO">
		select `id`,`process_inspection_id`,`inspection_items_id`,`is_deleted`,`create_user_id`,`create_date` from process_relationship
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="processInspectionId != null and processInspectionId != ''"> and process_inspection_id = #{processInspectionId} </if>
		  		  <if test="inspectionItemsId != null and inspectionItemsId != ''"> and inspection_items_id = #{inspectionItemsId} </if>

			<if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
			<if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
			<if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from process_relationship
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="processInspectionId != null and processInspectionId != ''"> and process_inspection_id = #{processInspectionId} </if>
		  		  <if test="inspectionItemsId != null and inspectionItemsId != ''"> and inspection_items_id = #{inspectionItemsId} </if>

			 <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
			 <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
			 <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.factory.productManage.domain.ProcessRelationshipDO">
		insert into process_relationship
		(
			`id`, 
			`process_inspection_id`, 
			`inspection_items_id`,

			`is_deleted`,
			`create_user_id`,
			`create_date`
		)
		values
		(
			#{id}, 
			#{processInspectionId}, 
			#{inspectionItemsId},

			#{isDeleted},
			#{createUserId},
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.factory.productManage.domain.ProcessRelationshipDO">
		update process_relationship 
		<set>
			<if test="processInspectionId != null">`process_inspection_id` = #{processInspectionId}, </if>
			<if test="inspectionItemsId != null">`inspection_items_id` = #{inspectionItemsId},</if>

			<if test="isDeleted != null">`is_deleted` = #{isDeleted}, </if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		update process_relationship set is_deleted=1 where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		update process_relationship set is_deleted=1 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="removeByProcessInspectionId">
		delete from process_relationship where process_inspection_id = #{value}
	</delete>

</mapper>