<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.factory.warehouseManagement.dao.PurchaseDetailDao">

	<select id="get" resultType="com.bootdo.factory.warehouseManagement.domain.PurchaseDetailDO">
		select `id`,`order_id`,`product_id`,`number`,`total_money`,`is_deleted`,`create_user_id`,`create_time` from purchase_detail where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.factory.warehouseManagement.domain.PurchaseDetailDO">
		select `id`,`order_id`,`product_id`,`number`,`total_money`,`is_deleted`,`create_user_id`,`create_time` from purchase_detail
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="number != null and number != ''"> and number = #{number} </if>
		  		  <if test="totalMoney != null and totalMoney != ''"> and total_money = #{totalMoney} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from purchase_detail
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="number != null and number != ''"> and number = #{number} </if>
		  		  <if test="totalMoney != null and totalMoney != ''"> and total_money = #{totalMoney} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.factory.warehouseManagement.domain.PurchaseDetailDO">
		insert into purchase_detail
		(
			`id`, 
			`order_id`, 
			`product_id`, 
			`number`, 
			`total_money`, 
			`is_deleted`, 
			`create_user_id`, 
			`create_time`
		)
		values
		(
			#{id}, 
			#{orderId}, 
			#{productId}, 
			#{number}, 
			#{totalMoney}, 
			#{isDeleted}, 
			#{createUserId}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.factory.warehouseManagement.domain.PurchaseDetailDO">
		update purchase_detail 
		<set>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="productId != null">`product_id` = #{productId}, </if>
			<if test="number != null">`number` = #{number}, </if>
			<if test="totalMoney != null">`total_money` = #{totalMoney}, </if>
			<if test="isDeleted != null">`is_deleted` = #{isDeleted}, </if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from purchase_detail where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from purchase_detail where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>