<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div align="center" class="page-header text-success">
        <h1>生产日报详情</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div><label><h3>生产日期</h3></label><input id="period"  name="period" th:value="${#dates.format(dailyProductionManage.dailyProductionDate,'yyyy-MM-dd')}"type="date" readonly/></div>
                        <b><h3>生产明细</h3></b>
                        <div name="content">


                            <table name="all" class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th></th>
                                    <th>工序名称</th>
                                    <th>部件名称</th>
                                    <th>部件规格</th>
                                    <th>数量</th>
                                    <th>数量单位</th>
                                </tr>
                                <tr name="detail" th:each="c:${contentList}">
                                    <td><input name="id"type="checkbox"/></td>
                                    <td><input type="hidden" id="processId" name="processId"><input class="form-control" name="processName" id="processName" type="text" th:value="${c.processDefinitionDO.processName}" readonly></td>
                                    <td><input class="form-control" name="productId" id="productId" type="hidden" readonly><input class="form-control" id="productName" name="productName" th:value="${c.productDetailDO.productName}" type="text" readonly></td>
                                    <td><input class="form-control" name="model" id="model" type="text" th:value="${c.productDetailDO.model}"readonly></td>
                                    <td><input class="form-control" type="text" id="count" name="count" th:value="${c.count}" readonly></td
                                    ><td><input class="form-control" type="hidden" id="quantityUnit" name="quantityUnit" readonly>
                                    <input class="form-control" type="text" id="quantityUnitName" name="quantityUnitName" th:value="${c.productDetailDO.quantityUnitName}" readonly>
                                </td>
                                </tr>
                            </table>
                        </div>


                        <b><h3>备注</h3></b>
                        <div class="form-group" style="display: flex;align-items: center">
                            <textarea style="height: 100px;margin-right: 20px;margin-left: 20px;width: 100%"id="remark" name="remark" th:text="${dailyProductionManage.remark}" wrap="hard" row="20" readonly></textarea>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-8 col-sm-offset-3">-->
                                <!--<button type="submit" class="btn btn-primary">提交</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
