<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="factory:contractManage:add" type="button" class="btn  btn-primary"
                                onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="factory:contractManage:batchRemove" type="button"
                                class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                        <button shiro:hasPermission="factory:contractManage:batchRemove" type="button"
                                class="btn  btn-info"
                                onclick="exportFile()">
                            <i class="glyphicon glyphicon-file" aria-hidden="true"></i>导出
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <div class="form-inline">
                            <dic class="form-group">
                                <select data-placeholder="--合同类型--"
                                        name="contractType" id="contractType"
                                        class="chosen-select form-control col-xs-3">
                                </select>
                            </dic>
                            <div
                                    class="form-group">
                                <input id="contractCode" type="text" class="form-control"
                                       placeholder="合同编号">
                            </div>
                            <div
                                    class="form-group">
                                <input id="contractName" type="text" class="form-control"
                                       placeholder="合同名称">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success" onclick="reLoad()">查询</button>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-success" onclick="reset()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="factory:contractManage:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="factory:contractManage:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="factory:contractManage:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/factory/contractManage/contractManage.js"></script>
</body>
</html>