<!DOCTYPE html>
<html lang="en">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="include :: footer"></div>
<script>
    function getTreeData() {
        $.ajax({
            type: "GET",
            url: "/system/sysDept/tree",
            success: function (tree) {
                loadTree(tree);
            }
        });
    }

    function loadTree(tree) {
        $('#jstree').jstree({
            'core': {
                'data': tree
            },
            "plugins": ["search","checkbox"]
        });
        $('#jstree').jstree().open_all();
    }
    function loadFlowType(){
        var html = "";
        $.ajax({
            url: '/common/dict/list/workflow_type',
            success: function (data) {
                // 加载数据
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i].value + '">' + data[i].name + '</option>'
                }
                $("#flowType").append(html);
                $("#flowType").chosen({
                    maxHeight: 200
                });
                //$(".chosen-select").val($("#Ttype").val());
                //$(".chosen-select").trigger("chosen:updated");
                // 点击事件
                // $('.chosen-select').on('change', function (e, params) {
                //
                // });
            }
        });
    }
    $(function () {
        getTreeData();
        loadFlowType();
    });
    $('#jstree').on("changed.jstree", function (e, data) {

        if (data.selected == -1) {
            var opt = {
                query: {
                    deptId: '',
                }
            }
            $('#exampleTable').bootstrapTable('refresh', opt);
        } else {
            var opt = {
                query: {
                    deptId: data.selected[0],
                }
            }
            $('#exampleTable').bootstrapTable('refresh', opt);
        }
    });
    function setActConfig(){
        var flowType=$("#flowType").val();
        var jstree=$("#jstree").jstree(true);
        var deptIds=jstree.get_bottom_checked();
        parent.actConfig(flowType,deptIds);
        console.log("ss"+flowType+"ss"+deptIds);
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    }
</script>


<div class="wrapper wrapper-content">
    <div class="row">
        <select id="flowType" name="flowType" style="width:80px;"></select>
    </div>
    <div class="row">
        <div class="ibox-content">
            <div id="jstree"></div>
        </div>
    </div>
    <button type="submit" onclick="setActConfig()">提交</button>
</div>

</body>
</html>