<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="paymentRequestId" name="paymentRequestId"
                               th:value="${paymentRequest.paymentRequestId}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">表单号：</label>
                            <div class="col-sm-8">
                                <input id="formNumber" name="formNumber" th:value="${paymentRequest.formNumber}"
                                       readonly class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">业务事由：</label>
                            <div class="col-sm-8">
                                <input id="businessReasons" name="businessReasons"
                                       th:value="${paymentRequest.businessReasons}" readonly class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input id="remarks" name="remarks" th:value="${paymentRequest.remarks}"
                                       class="form-control" readonly type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">请款金额（元）：</label>
                            <div class="col-sm-8">
                                <input id="claimAmount" name="claimAmount" th:value="${paymentRequest.claimAmount}"
                                       readonly class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收款账户：</label>
                            <div class="col-sm-8">
                                <input id="collectionAccount" name="collectionAccount"
                                       th:value="${paymentRequest.collectionAccount}" readonly class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开户银行：</label>
                            <div class="col-sm-8">
                                <input id="bankName" name="bankName" th:value="${paymentRequest.bankName}"
                                       class="form-control" readonly type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行账户：</label>
                            <div class="col-sm-8">
                                <input id="bankAccount" name="bankAccount" th:value="${paymentRequest.bankAccount}"
                                       readonly class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">汇总：</label>
                            <div class="col-sm-8">
                                <input id="summary" name="summary" th:value="${paymentRequest.summary}"
                                       class="form-control" readonly type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建时间：</label>
                            <div class="col-sm-8">
                                <input id="createTime" name="createTime" th:value="${#dates.format(paymentRequest.createTime, 'yyyy-MM-dd')}"
                                       readonly class="form-control" type="datetime">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/factory/paymentRequest/edit.js">
</script>
</body>
</html>
