<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.factory.equipmentManage.dao.EquipmentCheckHistoryDao">

	<select id="get" resultType="com.bootdo.factory.equipmentManage.domain.EquipmentCheckHistoryDO">
		select `check_history_id`,`code`,`equipment_type`,`state`,`check_date`,`checker_id`,`remarks`,`is_deleted`,`create_user_id`,`create_time` from equipment_check_history where check_history_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.factory.equipmentManage.domain.EquipmentCheckHistoryDO">
		select h.check_history_id,h.code,h.equipment_type,h.state,h.check_date,h.checker_id,h.remarks,h.is_deleted,h.create_user_id,h.create_time,m.name from
		equipment_check_history h join equipment_manage m
        <where>
				  and h.code = m.code
		  		  <if test="checkHistoryId != null and checkHistoryId != ''"> and check_history_id = #{checkHistoryId} </if>
				  <if test="searchCode != null and searchCode != ''"> and h.code like CONCAT('%',#{searchCode},'%')  </if>
				  <if test="name != null and name != ''"> and m.name like CONCAT('%',#{name},'%')</if>
			<if test="dateBefore != null and dateBefore != ''">AND h.check_date <![CDATA[>=]]> #{dateBefore}</if>
			<if test="dateLater != null and dateLater != ''">AND h.check_date <![CDATA[<=]]>#{dateLater}</if>
				  <if test="equipmentType != null and equipmentType != ''"> and equipment_type = #{equipmentType} </if>
		  		  <if test="state != null and state != ''"> and state = #{state} </if>
		  		  <if test="checkDate != null and checkDate != ''"> and h.check_date = #{checkDate} </if>
		  		  <if test="checkerId != null and checkerId != ''"> and checker_id = #{checkerId} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by check_history_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from equipment_check_history
		 <where>  
		  		  <if test="checkHistoryId != null and checkHistoryId != ''"> and check_history_id = #{checkHistoryId} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
			      <if test="equipmentType != null and equipmentType != ''"> and equipment_type = #{equipmentType} </if>
		  		  <if test="state != null and state != ''"> and state = #{state} </if>
		  		  <if test="checkDate != null and checkDate != ''"> and check_date = #{checkDate} </if>
		  		  <if test="checkerId != null and checkerId != ''"> and checker_id = #{checkerId} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.factory.equipmentManage.domain.EquipmentCheckHistoryDO">
		insert into equipment_check_history
		(
			`check_history_id`, 
			`equipment_type`,
			`code`,
			`state`,
			`check_date`,
			`checker_id`,
			`remarks`,
			`is_deleted`,
			`create_user_id`,
			`create_time`
		)
		values
		(
			#{checkHistoryId},
			#{equipmentType},
			#{code},
			#{state},
			#{checkDate}, 
			#{checkerId}, 
			#{remarks}, 
			#{isDeleted}, 
			#{createUserId}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.factory.equipmentManage.domain.EquipmentCheckHistoryDO">
		update equipment_check_history 
		<set>
			<if test="equipmentType != null">`equipment_type` = #{equipmentType}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="state != null">`state` = #{state}, </if>
			<if test="checkDate != null">`check_date` = #{checkDate}, </if>
			<if test="checkerId != null">`checker_id` = #{checkerId}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="isDeleted != null">`is_deleted` = #{isDeleted}, </if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where check_history_id = #{checkHistoryId}
	</update>


	<delete id="remove">
		delete from equipment_check_history where check_history_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from equipment_check_history where check_history_id in 
		<foreach item="checkHistoryId" collection="array" open="(" separator="," close=")">
			#{checkHistoryId}
		</foreach>
	</delete>

</mapper>