<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">*设备类型</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择设备类型--" name="equipmentType" id="equipmentType"
                                        class="form-control chosen-select" tabindex="2" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">*设备编码</label>
                            <div class="col-sm-8">
                                <input id="code" name="code" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">*设备名称</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">设备图片</label>
                            <div class="col-sm-8">
                                <input id="photoFile" name="photoFile" class="form-control" type="file"
                                       onchange="showImg(this)">
                                <img id="photoShow" style="width:80px;height: 80px"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">供应商</label>
                            <div class="col-sm-8">
                                <input id="provider" name="provider" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">设备型号</label>
                            <div class="col-sm-8">
                                <input id="model" name="model" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">出厂编号</label>
                            <div class="col-sm-8">
                                <input id="factoryNumber" name="factoryNumber" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">出厂日期</label>
                            <div class="col-sm-8">
                                <input id="productionDate" name="productionDate" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">购买人</label>
                            <div class="col-sm-8">
                                <input id="purchaser" name="purchaser" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">价值</label>
                            <div class="col-sm-8">
                                <input id="cost" name="cost" class="form-control" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">购买日期</label>
                            <div class="col-sm-8">
                                <input id="purchaseDate" name="purchaseDate" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">负责人</label>
                            <div class="col-sm-8">
                                <input id="dutyUserId" name="dutyUserId" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注</label>
                            <div class="col-sm-8">
                                <input id="remarks" name="remarks" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">附件</label>
                            <div class="col-sm-8">
                                <input id="filesFile" name="filesFile" class="form-control" type="file">
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-sm-3 control-label">删除标记</label>
                            <div class="col-sm-8">
                                <input id="isDeleted" name="isDeleted" class="form-control" type="hidden">
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-sm-3 control-label">创建者</label>
                            <div class="col-sm-8">
                                <input id="createUserId" name="createUserId" class="form-control" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/factory/equipmentManage/add.js">
</script>
</body>
</html>
